<h1>
  List of all movies
</h1>



<hr>

<div>
  <%= link_to "Add a new movie", new_movie_path%>

</div>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.description %>
    </td>

    <td>
      <%= time_ago_in_words(a_movie.created_at) %> ago
    </td>
    <td>
      <%= time_ago_in_words(a_movie.updated_at) %> ago
    </td>

    <td>
      <%= link_to "Show details", movie_path(a_movie.id)%>

    </td>
  </tr>
  <% end %>
</table>

<h1>
  List of all directors
</h1>

<hr>

  <div>
    <%= link_to "Add a new director", new_directors_path%>

  </div>

<hr>


<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      DOB
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <%=@list_of_directors%>

  <%if @list_of_directors == nil %>
 
  <%else%>


  <% @list_of_directors.each do |a_director| %>
  <tr>
    <td>
      <%= a_director.id %>
    </td>

    <td>
      <%= a_director.name %>
    </td>

    <td>
      <%= a_director.dob %>
    </td>

    <td>
      <%= time_ago_in_words(a_director.created_at) %> ago
    </td>
    <td>
      <%= time_ago_in_words(a_director.updated_at) %> ago
    </td>

    <td>
      <%= link_to "Show details", director_path(a_director.id)%>

    </td>
  </tr>
  <% end %>
</table>
 <%end%>