<h1>Edit director</h1>

<% @director.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%=form_with(model: @director) do |form| %>


  <div>
    
    <%= form.label :name%>

    <%=form.text_field :name %> 
  </div>

  <div>
    
    <%= form.label :dob%>
    <%=form.date_field :dob%>
    
  </div>

<%= form.button%>
  
<%end%>


  